---
layout: default
title: داشبورد
---
<section class="user" style="margin-top:100px;">
  <div class="container">
    <div class="row">
      <h5>محیط کاربری <span class="userFullname"></span></h5>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card-body">
          <h6>آخرین پست‌‌های ارسالی</h6>
					<table class="table table-sm">
						<thead class="table-warning table-striped">
							<tr>
								<th class="small" scope="col">صفحه</th>
								<th class="small" scope="col">روایت</th>
								<th class="small" scope="col">تاریخ</th>
							</tr>
						</thead>
						<tbody id="myRecentDrafts">
						</tbody>
					</table>
				</div>
      </div>
      <div class="col-6">
        <div class="card-body">
          <h6 class="float-left">آخرین روایت‌‌های ارسالی</h6><a href="/cases/add/" class="btn btn-primary btn-sm float-right mb-1">روایت جدید</a>
					<table class="table table-sm">
						<thead class="table-primary table-striped">
							<tr>
                <th class="small" scope="col">روایت</th>
								<th class="small" scope="col">تاریخ</th>
							</tr>
						</thead>
						<tbody id="myRecentCases">
						</tbody>
					</table>
				</div>
      </div>
    </div>
  </div>
</section>
<section class="editor">
  <div class="container">
    <div class="row">
      <h5>محیط ویراستاری</h5>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card-body">
          <h6>پست‌‌های در انتظار تایید</h6>
					<table class="table table-sm">
						<thead class="table-warning table-striped">
							<tr>
                <th class="small" scope="col">صفحه</th>
								<th class="small" scope="col">روایت</th>
								<th class="small" scope="col">تاریخ</th>
							</tr>
						</thead>
						<tbody>
              {% for post in site.drafts  limit:10%}
              {% if post.draftPublish == 0 %}
							<tr>
								<td class="small"><a href="{{post.url}}">{{post.title}}</a></td>
								<td class="small">{% assign cas = site.cases | where: 'slug', post.case | first %}{% if cas %}{{cas.title | truncatewords: 3}}{% endif %}</td>
								<td class="small" data-timestamp="{{post.editDate}}"></td>
							</tr>
              {% endif %}
              {% endfor %}
						</tbody>
					</table>
				</div>
      </div>
      <div class="col-6">
        <div class="card-body">
          <h6>روایت‌‌های در انتظار تایید</h6>
					<table class="table table-sm">
						<thead class="table-primary table-striped">
							<tr>
                <th class="small" scope="col">صفحه</th>
								<th class="small" scope="col">تاریخ</th>
							</tr>
						</thead>
						<tbody>
              {% for case in site.cases  limit:10%}
              {% if case.draftPublish == 0 %}
							<tr>
								<td class="small"><a href="{{case.url}}?go=edit">{{case.title}}</a></td>
								<td class="small" data-timestamp="{{case.editDate}}"></td>
							</tr>
              {% endif %}
              {% endfor %}
						</tbody>
					</table>
				</div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
    function afterLogin(user) {
      var username = user.username;
      $.getJSON('/drafts.json', function(data) {
        $.each(data, function(i, item){
          if(item.author === username && item.draftPublish == 0){
            $('#myRecentDrafts').prepend('<tr><td class="small"><a href="'+item.url+'">'+readMore(item.title, 4)+'</a></td><td class="small">'+readMore(item.case, 3)+'</td><td class="persianDate small" data-timestamp="'+item.date+'"></td></tr>')
          }
        });
      });
      $.getJSON('/cases.json', function(data) {
        $.each(data, function(i, item){
          if(item.author === username && item.draftPublish == 0){
            $('#myRecentCases').prepend('<tr><td class="small"><a href="'+item.url+'?go=edit">'+readMore(item.title, 6)+'</a></td><td class="persianDate small" data-timestamp="'+item.date+'"></td></tr>')
          }
        });
      });
    }
</script>
