---
layout: default
title: پیشنهادهای دریافتی
---
<section class="mt-5 pt-3 admin">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <div id="no-more-tables">
            <table class="col-md-12 table table-bordered table-striped ">
        		<thead class="">
        			<tr>
        				<th>عنوان صفحه</th>
        				<th>روایت</th>
        				<th>پیشنهاد دهنده</th>
        				<th>تاریخ</th>
        			</tr>
        		</thead>
        		<tbody>
              {% for post in site.drafts %}
              {% if post.draftPublish == 0 %}
        			<tr>
        				<td data-title="صفحه"><a href="{{post.url}}">{{post.title}}</a></td>
        				<td data-title="روایت">{% for case in post.case %}{% assign cas = site.cases | where: 'slug', case | first %}{% if cas %}{{cas.title}}{% endif %}{% endfor %}</td>
        				<td data-title="پیشنهاد دهنده" class="numeric">{{post.guestName}}</td>
        				<td data-title="تاریخ" class="numeric persianDate" data-timestamp="{{post.editDate}}"></td>
        			</tr>
              {% endif %}
              {% endfor %}
        		</tbody>
        	</table>
        </div>
      </div>
    </div>
  </div>
</section>
