<form id="addCase" action="index.html" method="post">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="title">عنوان</label>
        <input type="text" class="form-control" id="title" value="{{case.title}}" placeholder="عنوان روایت - مثال: طرح توسعه دانشگاه تهران" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="text">توضیح کوتاه</label>
        <textarea class="form-control" id="text" rows="2">{{case.content | strip_html | strip_newlines }}</textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label>تصویر شاخص</label>
        <div class="input-group">
          <div class="upload custom-file uploadImg">
            <input type="file" class="uploadImg custom-file-input" id="file" accept="image/*">
            <label class="custom-file-label" for="file" accept="image/*">Choose file</label>
          </div>
          <div class="upload input-group-append git">
            <a href="javascript:void(0)" class="uploadGit uploadImg btn btn-secondary btn-sm" id="uploadFImg">بارگذاری</a>
            <a href="{{case.coverImg}}" class="image-link uploadedImg btn btn-success btn-sm" target="_blank" style="display: none;" data-path="{{case.coverImg}}">نمایش</a>
            <a href="javascript:void(0)" class="image-delete uploadedImg btn btn-danger btn-sm" style="display: none;">حذف</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row guest mt-2">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label for="guestName">نام و نام خانوادگی ارسال کننده</label>
        <input type="text" class="form-control userFullnameInput" name="guestName" id="guestName" value="{{page.guestName}}" required>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label for="guestEmail">ایمیل ارسال کننده</label>
        <input type="email" class="form-control userUsernameInput" name="guestEmail" id="guestEmail" value="{{page.guestEmail}}" required>
      </div>
    </div>
  </div>
  <div class="row admin">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <label for="slug">نامک Slug</label>
        <input type="text" class="form-control" name="slug" id="slug" value="{{case.slug}}" placeholder="کوتاه با حروف انگلیسی" required>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <label for="categories">دسته <small>(اختیاری)</small></label>
        <input type="text" class="form-control" name="categories" id="categories" value="{{case.categories}}">
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group editor">
        <label>اقدام</label>
        <select id="caseAction" class="form-control" name="action">
          <option value="0">ذخیره</option>
          <option value="1">انتشار</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <h4>محدوده روایت</h4>
      <small>محدوده روایت را در نقشه زیر مشخص کنید. برای این کار می‌‌توانید می‌‌توانید محدوده نقشه را طوری تغییر دهید که محدوده روایت درون آن قرار داشته باشد، یا از طریق ابزارهای سمت راست محدوده دقیق روایت را با نقطه، خط، یا چندضلعی ترسیم کنید. </small>
      <input type="hidden" name="geoTag" id="geoTag" value='{{case.geoJSONTag}}'>
      <input type="hidden" name="location" id="location" value="{{case.location}}">
      <input type="hidden" name="bounds" id="bounds" value='{{case.bounds}}'>
      <div id="formMap" class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="submit" id="bt" value="Submit" class="btn btn-primary btn-lg btn-block"><span class="spinner-border" style="display:none;"></span> ثبت</button>
    </div>
  </div>
</form>


    <script type="text/javascript">
      $(document).ready(function () {
        $('.image-delete').click(function () {
          $(this).hide();
          $('.uploadImg').show();
          $(this).siblings('.uploadedImg').hide();
          $(this).siblings('.btn-success').attr('href', '');
        })
        {% if case.coverImg %}
          $('.uploadedImg').show();
          $('.uploadImg').hide();
        {% else %}
        $('.uploadedImg').hide();
        $('.uploadImg').show();
        {% endif %}
      })
      var casemap = new L.Map('formMap', { center: new L.LatLng(33.65, 53.36), zoom: 6 });
      {% if case.location %}
      var center = [{{case.location}}];
      var x = center[0];
      var y = center[1];
      {% if case.geoJSONTag %}
      var geoTag = '{{case.geoJSONTag}}';
      var geoJSONTag = JSON.parse(geoTag);
      var geojsonLayer = L.geoJson(geoJSONTag);
      {% elsif case.bounds %}
      {% else %}
      {% endif %}
      casemap.flyTo([x, y], 14)
      {% endif %}
      var data;
      var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
              osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
              osm = L.tileLayer(osmUrl, { maxZoom: 18, attribution: osmAttrib }),
              drawnItems = L.featureGroup().addTo(casemap);
      L.control.layers({
          'osm': osm.addTo(casemap),
          "google": L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {
              attribution: 'google'
          })
      }).addTo(casemap);
      casemap.addControl(new L.Control.Draw({
          edit: {
              featureGroup: drawnItems,
              poly: {
                  allowIntersection: false
              },
          },
          draw: {
              polygon: {
                  allowIntersection: false,
                  showArea: true
              },
              rectangle: false,
              circlemarker: false
          }
      }));
      {% if case.geoJSONTag %}
        geojsonLayer.eachLayer(
            function(l){
                drawnItems.addLayer(l);
        });
      {% endif %}
      setInterval(function () {
         casemap.invalidateSize();
      }, 100);
      casemap.on(L.Draw.Event.CREATED, function (event) {
          var layer = event.layer;
          drawnItems.addLayer(layer);
          data = drawnItems.toGeoJSON();

          $('input[name=geoTag]').val(JSON.stringify(data));
          var bounds = drawnItems.getBounds();
          var latLng = bounds.getCenter()
          $('input[name=location]').val(latLng.lat+', '+latLng.lng);
          $('input[name=bounds]').val(JSON.stringify(bounds));
      });
      casemap.on('moveend', function(ev) {
        if (data == null) {
          getMapLocation ();
        }
      });
      casemap.on('draw:edited', (e)=>{
        data = drawnItems.toGeoJSON();
        $('input[name=geoTag]').val(JSON.stringify(data));
        var bounds = drawnItems.getBounds();
        var latLng = bounds.getCenter()
        $('input[name=location]').val(latLng.lat+', '+latLng.lng);
        $('input[name=bounds]').val(JSON.stringify(bounds));
      });

      drawnItems.on('layerremove', (e)=>{
        data = drawnItems.toGeoJSON();
        if (data.features.length > 0) {
          $('input[name=geoTag]').val(JSON.stringify(data));
          var bounds = drawnItems.getBounds();
          var latLng = bounds.getCenter()
          $('input[name=location]').val(latLng.lat+', '+latLng.lng);
          $('input[name=bounds]').val(JSON.stringify(bounds));
        } else {
          $('input[name=geoTag]').val('');
          getMapLocation();
        }
});
function getMapLocation() {
  var mapLatLng = casemap.getCenter();
  $('input[name=location]').val(mapLatLng.lat+', '+mapLatLng.lng);
  $('input[name=bounds]').val(JSON.stringify(casemap.getBounds()));
}
function editor(user) {
  $('select[name=caseAction]').append('<option class="editor" value="publish" selected>انتشار</option>');
}

  //]]></script>
