<script type="text/javascript">

$(document).ready(function() {
  var to, from;
to = $("#endDate").persianDatepicker({
  initialValue: false,
  responsive: true,
  format: 'L',
  autoClose: true,
  altField: '#endDateU',
  calendar:{
    persian:{
      showHint: true
    },
    gregorian:{
      showHint: true
    }
  },
  onSelect: function (unix) {
        to.touched = true;
        if (from && from.options && from.options.maxDate != unix) {
            var cachedValue = from.getState().selected.unixDate;
            from.options = {maxDate: unix};
            if (from.touched) {
                from.setDate(cachedValue);
            }
        }
    }
});
from = $("#startDate").persianDatepicker({
  initialValue: false,
  responsive: true,
  format: 'L',
  autoClose: true,
  altField: '#startDateU',
  calendar:{
    persian:{
      showHint: true
    },
    gregorian:{
      showHint: true
    }
  },
  onSelect: function (unix) {
        from.touched = true;
        if (to && to.options && to.options.minDate != unix) {
            var cachedValue = to.getState().selected.unixDate;
            to.options = {minDate: unix};
            if (to.touched) {
                to.setDate(cachedValue);
            }
        }
    }
});
});
</script>
    <div class="container mt-5">
      <div class="row mt-5">
        <h2 class="px-2 mt-5 text-secondary">اضافه کردن یک صفحه به یک روایت</h2>
      </div>
        <!--Add few elements to the form-->
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="Tooltip on top" autofocus id="title" placeholder="عنوان..." />
            <small class="form-text text-muted">
              عنوان این صفحه از روایت که باید کوتاه و گویا و به فارسی باشد.
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" lang="en" dir="ltr" class="form-control" id="txtCase" placeholder="case..." />
            <small class="form-text text-muted">
              نام کوتاه روایت با حروف لایتین برای استفاده در آدرس اینترنتی (برای مثال 4rah برای چهارراه ولیعصر)
            </small>
          </div>
          <div class="col">
            <input type="text" lang="en" dir="ltr" class="form-control" id="txtSlug" placeholder="slug..." />
            <small class="form-text text-muted">
              نام کوتاه این صفحه از روایت با حروف لاتین برای استفاده در آدرس اینترنتی (برای مثال bazgoshaei برای بازگشایی چهارراه ولیعصر)
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" id="startDate" placeholder="تاریخ شروع..." />
            <input type="hidden" id="startDateU" />
            <small class="form-text text-muted">
              تاریخ اتفاقی که در این صفحه از روایت رخ داده است به شمسی یا میلادی
            </small>
          </div>
          <div class="col">
            <input type="text" class="form-control" id="endDate" placeholder="تاریخ پایان..." />
            <input type="hidden" id="endDateU" />
            <small class="form-text text-muted">
              در صورتی که اتفاق در یک روز بوده مشابه تاریخ شروع در غیر اینصورت تاریخ پایان اتفاق
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <input type="text" class="form-control" id="tag" placeholder="برچسب..." />
            <small class="form-text text-muted">
              بازیگر این صفحه از روایت. بهتر است تعداد بازیگران هر روایت کمتر از ۴ نفر باشد. برای مثال در چهارراه ولیعصر بازیگران عمده باهمستان، شهرداری، و پلیس بودند.
            </small>
          </div>
          <div class="col-3">
            <input id="mediaFile" class="form-control" type="file">
            <small class="form-text text-muted">
              فایل مدیا (عکس، فیلم، و ...) مربوط به این صفحه را انتخاب کنید.
            </small>
          </div>
          <div class="col-3">
            <input type="text" lang="en" dir="ltr" class="form-control" id="mediaUrl" placeholder="Media URL Address..." />
            <small class="form-text text-muted">
              یا آدرس اینترنتی آن را وارد کنید. برای مثال http://examp.le/4rah.jpg
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" id="mediaCredit" placeholder="منبع مدیا..." />
            <small class="form-text text-muted">
              برای حفظ حق نشر، نام منبع مدیا را وارد کنید.
            </small>
          </div>
          <div class="col">
            <input type="text" class="form-control" lang="en" dir="ltr" id="mediaCreditUrl" placeholder="Media Credit URL..." />
            <small class="form-text text-muted">
              آدرس اینترنتی منبع عکس را وارد کنید.
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" id="mediaCaption" placeholder="کپشن مدیا..." />
            <small class="form-text text-muted">
              توضیح مرتبط با عکس را وارد کنید.
            </small>
          </div>
          <div class="col">
            <input type="text" class="form-control" lang="en" dir="ltr" id="mediaCaptionUrl" placeholder="Media Caption URL..." />
            <small class="form-text text-muted">
              منبع توضیح عکس را وارد کنید.
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col">
              <textarea id="text" name="msg" class="form-control" placeholder="شرح مختصری درباره این صفحه از روایت بنویسید..." style="height:100px"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col">
              <input type="button" id="bt" value="Save data to file" class="btn btn-primary btn-lg btn-block" onclick="saveFile()" />
          </div>
      </div>
    </div>
