<div id="popSidenav" class="psidenav">
    <!-- <h1><i class="fas fa-calendar-day"></i><span class="geoTitle"></span></h1> -->
    <img class="geoImg" src="" alt="">
    <h3><span class="geoTitle"></span></h3>
    <h3><i class="far fa-clock"></i><br> زمان: <span class="geoTime"></span></h3>
    <h3><i class="fas fa-map-marked-alt"></i><br> موقعیت: <span class="geoLoc"></span></h3>
    <h3><i class="fas fa-universal-access"></i><br>مشخصات عابرپیاده: <span class="geoPedSex"></span> <span class="geoPedAge"></span> ساله</h4>
    <h3><i class="fas fa-car-crash"></i><br> تصادف با: <span class="geoAccWith"></span></h4>
    <div class="geoDes"></div>
    <a class="geoUrl" target="_blank">لینک خبر</a>
    <div class="timeline-icon">
      {% include timeline.svg %}
    </div>
</div>
