<div class="floatingButtonWrap">
    <div class="floatingButtonInner">
        <a href="#" class="floatingButton">
            <i class="fas fa-bars icon-default"></i>
        </a>
        <div class="floatingLogoWrap">
          <a href="/"  class="floatingLogo h2">{{ site.title }}</a>
          <h6 class="bg-secondary text-white p-1"><small>{% if page.title %}{{ page.title }}{% endif %}</small></h6>
        </div>
        <ul class="floatingMenu">
          {% for item in site.data.navigation %}
          <li>
            <a href="{{item.link}}" class="{% if page.url == item.link %}active{% endif %} {% if item.name == 'user'%}user userFullname{%endif%}" {% if item.name == 'user' %}style='display:none;'{%endif%}>{{ item.name }}{% if page.url == item.link %}<span class="sr-only">(کنونی){% endif %}</span></a>
          </li>
          {%endfor%}
        </ul>
    </div>
</div>
