<nav class="navbar fixed-top">
<div id="menu" class="col-sm-3 col-md-3 sidebar mt-1">
  <div class="mini-submenu text-black-50" style="display:block;">
    <div class="float-left mt-2" style="width:50px;">
      <i id="menuIcon" class="fas fa-bars fa-3x align-middle" ></i>
    </div>
    <div class="">
      <span class="h2">{{ site.title }}</span>
      <h6 style="margin-right:50px"><small>{% if page.title %}{{ page.title }}{% endif %}</small></h6>

    </div>
  </div>


<div id="menuList" class="list-group" style="display:none">
  {% for item in site.data.navigation %}
    <a href="{{item.link}}" class="list-group-item {% if page.url == item.link %} active{% endif %}">{{ item.name }}{% if page.url == item.link %}<span class="sr-only">(کنونی){% endif %}</span></a>
  {%endfor%}
</div>

</div>
</nav>
