<div id="sidebar-wrapper" class="text-light">
  <div class="card h-100 bg-dark">
    <img id="geoImg" class="card-img-top" src="{{page.coverImg}}" alt="Card image cap">
    <div class="card-body">
      <h5 id="geoTitle" class="card-title">{{page.title}}</h5>
      <p id="geoDes" class="card-text">{{page.tlCoverTxt}}</p>
      {% if page.url == "/" %}
      <a href="#" id="geoUrl" class="btn btn-primary">مشاهده روایت</a>
      {% endif %}
    </div>
    {%if page.location%}
    <div id="sideMap" class="card-footer text-muted" style="height: 300px;"></div>
    <div class="card-footer p-0 bg-primary">
      <a href="/" class="btn btn-primary btn-lg btn-block">بازگشت به نقشه اصلی</a>
    </div>
    {%endif%}
  </div>
</div>
