html, body {
	font-family: IRANSans !important;
	font-weight: 300;
  height: 100%;
	margin:0;
	padding:0;
  outline: none;
  touch-action: none;
}

.geoImg {
    width:100%;
    margin: 0 auto 10px auto;
    display: block;
}
.geoTitle, .geoAuthor {
    text-align: center;
    width: 85%;
    margin: 0 auto;
}
.geoDes {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    padding: 0 0 0 10px;
}
.geoAudio {
    width:85%;
    margin: 20 auto;
    display: block;
}
.geoDateLoc {
    margin: 0 auto;
    width: 85%;
    text-align: center;
    color: darkslategray;
}
#formMap {
	height: 600px;
	direction: ltr;
}

#wrapper {
		padding-left: 0;
		height: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 350px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 350px;
		width: 0;
    height: 100%;
    margin-left: -350px;
		text-align: center;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 350px;
}

#page-content-wrapper {
    padding: 20px;
    position: relative;
    width: 100%;
		height: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
}
#mapid {
	height: 100%;
}
#menu {
z-index: 999999999999;
}
.pull-right {
	float: left;
}
.mini-submenu{
  display:none;
  //background-color: rgba(0, 0, 0, 0);
  //border: 1px solid rgba(0, 0, 0, 0.5);
  //border-radius: 4px;
  padding: 9px;
  /*position: relative;*/

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}
.list-group-item {
background-color: rgba(1,1,1, 0.5);
border-top: 1px solid #ddd;
border-radius: 0;
color: #fff;
}
body {
  height: 100vh;
  background: #fafbff;
}
.floatingButtonWrap {
    display: block;
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 999999999;
}

.floatingButtonInner {
    position: relative;
}

.floatingButton {
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    background: -webkit-linear-gradient(45deg, #8769a9, #507cb3);
    background: -o-linear-gradient(45deg, #8769a9, #507cb3);
    background: linear-gradient(45deg, #8769a9, #507cb3);
    color: #fff;
    line-height: 50px;
    position: absolute;
    border-radius: 50% 50%;
    top: 10px;
    right: 0px;
    border: 5px solid #b2bedc;
    /* opacity: 0.3; */
    opacity: 1;
    transition: all 0.4s;
}

.floatingButton .fa {
    font-size: 15px !important;
}

.floatingButton.open,
.floatingButton:hover,
.floatingButton:focus,
.floatingButton:active {
    opacity: 1;
    color: #fff;
}


.floatingButton .fa {
    transform: rotate(0deg);
    transition: all 0.4s;
}

.floatingButton.open .fa {
    transform: rotate(270deg);
}

.floatingMenu {
    position: absolute;
    top: 80px;
    right: 0px;
    /* width: 200px; */
    display: none;
}

.floatingMenu li {
    width: 100%;
    float: right;
    list-style: none;
    text-align: right;
    margin-top: 5px;
}

.floatingMenu li a {
    padding: 8px 15px;
    display: inline-block;
    background: #ccd7f5;
    color: #6077b0;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.4s;
    /* -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.22);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.22); */
    -webkit-box-shadow: 1px 3px 5px rgba(211, 224, 255, 0.5);
    box-shadow: 1px 3px 5px rgba(211, 224, 255, 0.5);
}

.floatingMenu li a:hover {
    margin-right: 10px;
    text-decoration: none;
}
.floatingLogoWrap {
	margin-right: 70px;
}
.floatingLogo {
	color: rgba(255, 255, 255, .45);
  text-shadow: 4px 4px 6px #fff, 0 0 0 #000, 4px 4px 6px #fff;
  mix-blend-mode: multiply;
}
.floatingLogo:link,
.floatingLogo:visited,
.floatingLogo:hover,
.floatingLogo:active {
	 text-decoration: none;
 }
 @media only screen and (max-width: 800px) {

     /* Force table to not be like tables anymore */
 	#no-more-tables table,
 	#no-more-tables thead,
 	#no-more-tables tbody,
 	#no-more-tables th,
 	#no-more-tables td,
 	#no-more-tables tr {
 		display: block;
 	}

 	/* Hide table headers (but not display: none;, for accessibility) */
 	#no-more-tables thead tr {
 		position: absolute;
 		top: -9999px;
 		right: -9999px;
 	}

 	#no-more-tables tr { border: 1px solid #ccc; }

 	#no-more-tables td {
 		/* Behave  like a "row" */
 		border: none;
 		border-bottom: 1px solid #eee;
 		position: relative;
 		padding-right: 30%;
 		white-space: normal;
 		text-align:right;
 	}

 	#no-more-tables td:before {
 		/* Now like a table header */
 		position: absolute;
 		/* Top/left values mimic padding */
 		top: 6px;
 		right: 6px;
 		width: 25%;
 		padding-left: 10px;
 		white-space: nowrap;
 		text-align:right;
 		font-weight: bold;
 	}

 	/*
 	Label the data
 	*/
 	#no-more-tables td:before { content: attr(data-title); }
 }
 @media only screen and (max-width: 768px) {
  /* For mobile phones: */
	#case-timeline {
	 height: 600px !important;
	}
}
 @media only screen and (min-width: 768px) {
	 margin-top: 100px;
   /* For desktop: */
  }
