---
layout: default
sidebar: 'no'
github: 1
---
{% assign case_posts = site.posts | where: 'case', page.slug  %}
{% assign filtered_posts = case_posts %}
{% assign post_count = filtered_posts.size %}
<script type="text/javascript">
  $(document).ready(function() {
      if (urlParams.get('post')){
        var postslug = '{{page.slug}}-'+urlParams.get('post');
        {% for post in filtered_posts%}
          if (postslug == '{{post.slug}}' ) {
            window.location.href = '/{{page.slug}}#{{forloop.rindex}}';
          }
        {% endfor %}
      }
      var dataObject = {
    	timeline:
    	{
    		headline:"{{page.title}}",
    		type:"default",
    		text:"{{page.content | strip_html | strip_newlines}}",
    		asset: {
    			media:"{{page.coverImg}}"
    		},
    		date: [
        {% for post in filtered_posts %}
        {% case post.mediaType %}
          {% when 'audio' %}
            {% capture  postMedia %}<audio controls><source src='{{post.media}}' type='audio/{{post.media | split:"." | last }}'>مرورگر شما از پخش‌کننده صدا پشتیبانی نمی‌کند.</audio>{% endcapture %}
          {% when 'video' %}
            {% capture  postMedia %}<video controls><source src='{{post.media}}' type='video/{{post.media | split:"." | last }}'>مرورگر شما از پخش‌کننده صدا پشتیبانی نمی‌کند.</video>{% endcapture %}
          {% else %}
             {% assign postMedia = post.media %}
        {% endcase %}
    			{
    				startDate:"{{post.startDate}}",
    				endDate:"{{post.endDate}}",
    				headline:"{{post.title}}",
    				text:"{{post.content | strip_html | strip_newlines}} <br><a href='{{page.url}}?post={{post.slug | split: '-' | last}}' target='_blank' class='btn btn-primary btn-sm small text-light p-1 rounded-0' style='font-size: 11px;'>لینک ثابت</a><a href='{{post.url}}' target='_blank' class='btn btn-secondary btn-sm small text-light p-1 rounded-0' style='font-size: 11px;'>پیشنهاد اصلاح</a><a href='{{post.url}}' target='_blank' class='btn btn-danger btn-sm small text-light p-1 rounded-0' style='font-size: 11px;'>گزارش خطا</a><small></small>",
    				tag:"{{post.tag}}",
    				classname:"optionaluniqueclassnamecanbeaddedhere",
    				asset: {
    					media:"{{postMedia}}",
    					thumbnail:"{{post.thumbnail}}",
              credit:"{% if post.mediaCaptionUrl %}<a href='{{post.mediaCaptionUrl}}' target='blank'>{%endif%}{{post.mediaCaption}}{% if post.mediaCaptionUrl %}</a>{%endif%}"
    				}
    			},
          {% endfor %}
    		],
    		era: [
    			{
    				startDate:"2011,12,10",
    				endDate:"2011,12,11",
    				headline:"Headline Goes Here",
    				text:"<p>Body text goes here, some HTML is OK</p>",
    				tag:"This is Optional"
    			}

    		]
    	}
    };
      createStoryJS({
        type:		'timeline',
        lang:				'fa',							//OPTIONAL LANGUAGE
        source:		dataObject,
        embed_id:	'case-timeline',
        is_embed: 'true',
        hash_bookmark:		true,
        font:				'IRANSans'				//OPTIONAL FONT
      });

    var smap = L.map('sideMap').setView([{{page.location}}], 17);
    Thunderforest_TransportDark.addTo(smap);
    var geoJSONTag = {{page.geoJSONTag}};
      // add GeoJSON layer to the map once the file is loaded
      jsonLayer = L.geoJson(geoJSONTag, {
        // style: {color: "#999", weight: 2, fillColor: "#00ad79", fillOpacity: .6},
      })
      jsonLayer.addTo(smap);
      smap.fitBounds(jsonLayer.getBounds(), {
        padding: [10, 10]
      });
  });
</script>
<section style="height: calc(100vh - 56px)">
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 order-lg-last order-md-last order-sm-last p-0">
      <div class="card h-100 bg-dark text-light text-center h-100 rounded-0">
        <div id="sideMap" class="card-img-top text-muted" style="height: 250px;"></div>
        <div class="card-body">
          <h5 id="geoTitle" class="card-title">{{page.title}}</h5>
          <p id="geoDes" class="card-text">{{page.content | strip_html | strip_newlines | truncatewords: 50 }}</p>
          <a href="?go=1#{{post_count}}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="از انتها"><i class="fas fa-step-forward"></i></a>
          <a href="/drafts/add?case={{page.slug}}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="افزودن صفحه جدید"><i class="fas fa-calendar-plus"></i>  صفحه جدید</a>
          <a href="?go=0#0" class="btn btn-primary btn-sm"><i class="fas fa-step-backward" data-toggle="tooltip" data-placement="bottom" title="از ابتدا"></i></a>

        </div>
        {%if page.location%}
        <div class="card-footer p-0 bg-primary">
          <a href="/" class="btn btn-sm btn-secondary btn-lg btn-block">بازگشت به نقشه اصلی</a>
        </div>
        {%endif%}
      </div>
  </div>
  <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12 p-0">
    <div id="case-timeline"></div>
  </div>
</div>
</div>
</section>
