<!DOCTYPE html>
<html  dir="rtl" lang="fa">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} {% if page.title %} | {{ page.title }}{% endif %}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/all.css">
    {% for pagescript in page.scripts %}{% assign script = site.data.scripts | where: 'name', pagescript | first %}{% if script.css %}
    <link rel="stylesheet" href="{{script.css}}"/>
    {% endif %}{% endfor %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link title="timeline-styles" rel="stylesheet"
          href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">

    <!-- 2 -->
    <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    {% for pagescript in page.scripts %}{% assign script = site.data.scripts | where: 'name', pagescript | first %}{% if script.js %}
    <script src="{{script.js}}"></script>
    {% endif %}{% endfor %}
    {% if page.scripts contains 'leaflet'%}
    <script type="text/javascript">
    var Thunderforest_TransportDark = L.tileLayer('https://{s}.tile.thunderforest.com/outdoors/{z}/{x}/{y}.png?apikey={apikey}', {
      attribution: '&copy; <a href="http://www.thunderforest.com/">Thunderforest</a>, &copy; <a href="https://twitter.com/alitayebi">Ali Tayebi</a> Havashi',
      apikey: '48584cb50e384399b635995577038af7',
      maxZoom: 18
    });
    </script>
    {% endif %}
    <script src="/assets/js/custom.js"></script>
  </head>
<body>
<header>
  {% if page.url == "/" %}
  {% include navigation.html %}
  {% else %}
  {% include navbar-pages.html %}
  {% endif %}
</header>
  {{ content }}
{% include footer.html %}

{% if page.github == 1 %}<script src="https://alitayebi.com/havashi/dist.js?v=1.01" defer async></script>{% endif %}
</body>
</html>
