<!DOCTYPE html>
<html  dir="rtl" lang="fa">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }} {% if page.title %} | {{ page.title }}{% endif %}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jQuery.persianNumbers-1.0.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""></script>
    <script src="/assets/js/leaflet.ajax.min.js"></script>
	<script type="text/javascript" src="/assets/js/storyjs-embed.js"></script>
  <script type="text/javascript">
  var Thunderforest_TransportDark = L.tileLayer('https://{s}.tile.thunderforest.com/transport/{z}/{x}/{y}.png?apikey={apikey}', {
    attribution: '&copy; <a href="http://www.thunderforest.com/">Thunderforest</a>, &copy; <a href="https://twitter.com/alitayebi">Ali Tayebi</a> Havashi',
    apikey: '48584cb50e384399b635995577038af7',
    maxZoom: 22
  });
  </script>
  </head>
<body>
<div id="wrapper" {%if page.sidebar == 'yes' %} class="toggled" {%endif%}>
<header>
  {% include navigation.html %}
</header>
{% include sidebar.html %}

  <div id="page-content-wrapper" class="p-0">
    {{ content }}
  </div>
</div>
<script src="/assets/js/custom.js"></script>
</body>
</html>
