---
layout: default
---
{% assign orgPost = site.posts | where: 'slug', page.postSlug | first %}
{% assign cas = site.cases | where: 'slug', page.case | first %}
    <div class="container pt-3">
      <div class="row mt-5">
        <h3 class="mt-5 text-secondary">پیشنهاد ویرایش </h3>
      </div>
      <div class="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="black-text" href="/"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item"><a class="black-text" href="{{cas.url}}">{{cas.title}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{orgPost.title}}</li>
          </ol>
        </nav>
      </div>
        <!--Add few elements to the form-->
        <form id="editPost" action="index.html" method="post" data-action="draftPublish">
          <div class="row">
            <div class="col form-group">
              <label for="title">عنوان</label>
              {% if orgPost %}
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                  <input type="radio" name="title" aria-label="Radio button for following text input">
                  </div>
                </div>
                <input type="text" class="form-control" disabled value="{{orgPost.title}}">
              </div>
              {% endif %}
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                  <input type="radio" name="title" checked aria-label="Radio button for following text input">
                  </div>
                </div>
                <input type="text" class="form-control" value="{{page.title}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <label for="startDate">از تاریخ</label>
              {% if orgPost %}
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                  <input type="radio" class="orgPost" name="startDate" aria-label="Radio button for following text input">
                  </div>
                </div>
                <input type="text" class="form-control" disabled value="{{orgPost.startDate}}">
                <input type="hidden" name="" value="">
              </div>
              {% endif %}
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                  <input type="radio" name="startDate" checked aria-label="Radio button for following text input">
                  </div>
                </div>
                <input type="text" id="startDate" class="form-control" value="">
                <input type="hidden" id="startDateU"  value=""/>
              </div>
            </div>
            <div class="col form-group">
              <label for="endDate">تا تاریخ</label>
              {% if orgPost %}
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                  <input type="radio" class="orgPost" name="endDate" aria-label="Radio button for following text input">
                  </div>
                </div>
                <input type="text" class="form-control" disabled value="{{orgPost.startDate}}">
                <input type="hidden" name="" value="">
              </div>
              {% endif %}
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                  <input type="radio" name="endDate" checked aria-label="Radio button for following text input">
                  </div>
                </div>
                <input type="text" id="endDate" class="form-control converUNIX" value="">
                <input type="hidden" id="endDateU" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <label for="text">توضیح</label>
              {% if orgPost %}
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                  <input type="radio" class="orgPost" name="text" aria-label="Radio button for following text input">
                  </div>
                </div>
                <textarea class="form-control" disabled style="height:100px">{{orgPost.content | strip_html | strip_newlines}}</textarea>
              </div>
              {% endif %}
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                  <input type="radio" name="text" checked aria-label="Radio button for following text input">
                  </div>
                </div>
                <textarea class="form-control" style="height:100px">{{page.content | strip_html | strip_newlines}}</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label>فایل پیوست</label>
              {% if orgPost %}
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                  <input type="radio" class="orgPost" name="mediaFile" aria-label="Radio button for following text input">
                  </div>
                  <select class="form-control mediaType" disabled>
                    <option value=""></option>
                    <option {% if orgPost.mediaType == 'image' %} selected='selected' {% endif %} value="image">عکس</option>
                    <option {% if orgPost.mediaType == 'video' %} selected='selected' {% endif %} value="video">ویدئو</option>
                    <option {% if orgPost.mediaType == 'audio' %} selected='selected' {% endif %} value="audio">فایل صوتی</option>
                  </select>
                </div>
                <div class="input-group-append">
                  <a href="{{orgPost.media}}"  data-path="{{orgPost.media}}" class="image-link btn btn-success btn-sm" target="_blank" {% unless orgPost.media %} style="display: none;" {% endunless %}>نمایش</a>
                </div>
              </div>
              {% endif %}
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                  <input type="radio" name="mediaFile" checked aria-label="Radio button for following text input">
                  </div>
                  <select class="form-control mediaType">
                    <option {% if page.mediaType == 'image' %} selected='selected' {% endif %} value="image">عکس</option>
                    <option {% if page.mediaType == 'video' %} selected='selected' {% endif %} value="video">ویدئو</option>
                    <option {% if page.mediaType == 'audio' %} selected='selected' {% endif %} value="audio">فایل صوتی</option>
                  </select>
                </div>
                <div class="custom-file uploadImg">
                  <input type="file" class="uploadImg custom-file-input" id="file">
                  <label class="custom-file-label" for="file">Choose file</label>
                </div>
                <div class="input-group-append git">
                  <button class="uploadGit upload uploadImg btn btn-secondary btn-sm" id="uploadFImg" data-commit="upload post feature media" data-path="assets/cases/{{page.case}}/" data-name="{{page.slug}}" {% if page.media %} style="display: none;" {% endif %}><span class="spinner-border spinner-border-sm" style="display:none;"></span> بارگذاری</button>
                  <a href="{{page.media}}" class="image-link uploadedImg btn btn-success btn-sm" target="_blank" {% unless page.media %} style="display: none;" {% endunless %} data-path="{{page.media}}">نمایش</a>
                  <a href="javascript:void(0)" class="image-delete uploadedImg btn btn-danger btn-sm" {% unless page.media %} style="display: none;" {% endunless %}>حذف</a>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="mediaCaption">توضیح فایل پیوست</label>
                {% if orgPost %}
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                    <input type="radio" class="orgPost" name="mediaCaption" aria-label="Radio button for following text input">
                    </div>
                  </div>
                  <input type="text" class="form-control" disabled value="{{orgPost.mediaCaption}}">
                </div>
                {% endif %}
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                    <input type="radio" name="mediaCaption" checked aria-label="Radio button for following text input">
                    </div>
                  </div>
                  <input type="text" class="form-control" value="{{page.mediaCaption}}">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label for="mediaCaptionUrl">منبع فایل پیوست</label>
              {% if orgPost %}
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                  <input type="radio" class="orgPost" name="mediaCaptionUrl" aria-label="Radio button for following text input">
                  </div>
                </div>
                <input type="text" class="form-control" disabled value="{{orgPost.mediaCaptionUrl}}" lang="en" dir="ltr" >
              </div>
              {% endif %}
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                  <input type="radio" name="mediaCaptionUrl" checked aria-label="Radio button for following text input">
                  </div>
                </div>
                <input type="text" class="form-control" value="{{page.mediaCaptionUrl}}" lang="en" dir="ltr" >
              </div>
            </div>
          </div>
          <div class="row guest">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="guestName">نام و نام خانوادگی</label>
                <input type="text" class="form-control" name="guestName" id="guestName" value="{{page.guestName}}" required>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="guestEmail">ایمیل</label>
                <input type="email" class="form-control" name="guestEmail" id="guestEmail" value="{{page.guestEmail}}" required>
              </div>
            </div>
          </div>
          <div class="row admin bg-light p-2">
            <h3>تنظیمات ویراستاری</h3>
          </div>
          <div class="row admin bg-light">
            <div class="col-6 form-group">
              <label for="tag">برچسب</label>
              <input type="text" class="form-control" id="tag" value="{{page.tag}}" placeholder="بازیگر این صفحه از روایت ..." />
            </div>
            <div class="col-3">
              <label for="txtCase">Case</label>
              <input type="text" lang="en" dir="ltr" class="form-control" value="{{page.case}}" id="txtCase" placeholder="case..." value="{{page.slug}}"/>
            </div>
            <div class="col-3">
              <label for="txtSlug" dir="ltr" >ُSlug</label>
              <input type="text" lang="en" dir="ltr" class="form-control" id="txtSlug" value="{{page.postSlug}}" placeholder="slug..." />
            </div>

          </div>
          <div class="row mt-2">
            <div class="col">
                <input type="submit" id="bt" value="انتشار" class="btn btn-primary btn-lg btn-block" />
            </div>
        </div>
      </form>
    </div>
<script type="text/javascript">
  var currentPost = {
    'title': '{{page.title}}',
    'case': '{{page.case}}',
    'tag': '{{page.tag}}',
    'mediaType': '{{page.mediaType}}',
    'media': '{{page.media}}',
    'mediaCaption': '{{page.mediaCaption}}',
    'mediaCaptionUrl': '{{page.mediaCaptionUrl}}',
    'slug': '{{page.slug}}',
    'postSlug': '{{page.postSlug}}'
  };
  sessionStorage.setItem("currentPost", JSON.stringify(currentPost));
  $(document).ready(function () {
    var orgPostStartDateU = new persianDate([{{orgPost.startDate}}]);
    $($('input[name=startDate].orgPost').closest('.input-group').find("input[type=hidden]")).val(orgPostStartDateU.format('X')+'000')
    var orgPostEndDateU = new persianDate([{{orgPost.startDate}}]);
    $($('input[name=endDate].orgPost').closest('.input-group').find("input[type=hidden]")).val(orgPostEndDateU.format('X')+'000')
    if (authorRole == 'guest') {
      var postCase = '{{page.case}}';
      var postSlug = '{{page.slug}}';
      var postTag = '{{page.tag}}';
      var postMediaType = '{{page.mediaType}}';
      var postMedia = '{{page.media}}';
      var postMediaCaption = '{{page.mediaCaption}}';
      var postMediaCaptionUrl = '{{page.mediaCaptionUrl}}';
    }
    $('.image-delete').click(function () {
      $(this).hide();
      $('.uploadImg').show();
      $(this).siblings('.uploadedImg').hide();
      $(this).siblings('.btn-success').attr('href', '');
    })
    {% if page.media %}
      $('.uploadedImg').show();
      $('.uploadImg').hide();
    {% else %}
    $('.uploadedImg').hide();
    $('.uploadImg').show();
    {% endif %}
    var to, from;
  to = $("#endDate").persianDatepicker({
    initialValue: false,
    responsive: true,
    format: 'L',
    autoClose: true,
    altField: '#endDateU',
    calendar:{
      persian:{
        showHint: true
      },
      gregorian:{
        showHint: true
      }
    },
    onSelect: function (unix) {
          to.touched = true;
          if (from && from.options && from.options.maxDate != unix) {
              var cachedValue = from.getState().selected.unixDate;
              from.options = {maxDate: unix};
              if (from.touched) {
                  from.setDate(cachedValue);
              }
          }
      }
  });
  from = $("#startDate").persianDatepicker({
    initialValue: false,
    responsive: true,
    format: 'L',
    autoClose: true,
    altField: '#startDateU',
    calendar:{
      persian:{
        showHint: true
      },
      gregorian:{
        showHint: true
      }
    },
    onSelect: function (unix) {
          from.touched = true;
          if (to && to.options && to.options.minDate != unix) {
              to.options = {minDate: unix};
              to.setDate(unix);
          }
      }
  });
  var fromDate = new persianDate([{{page.startDate}}]);
  var toDate = new persianDate([{{page.endDate}}]);
  from.setDate(fromDate);
  to.setDate(toDate);

  })

</script>
